@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .overflow-x-auto::-webkit-scrollbar,
  .overflow-y-auto::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .overflow-x-auto::-webkit-scrollbar-thumb,
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #31304d;
    border-radius: 2px;
  }

  .overflow-x-auto::-webkit-scrollbar-track,
  .overflow-y-auto::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

/** disable scrollbar */

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}
